@import "../node_modules/bootstrap";

.nav-link:hover {
    background-color: #e5e5e5;
}

.contents {
    max-width: 720px;
}

dialog {
    max-width: 75vw;
    border: thin solid gray;
    border-radius: 4px;
}

.character {
    width: 16.67%;
}