@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.nav-link:hover {
    background-color: #e5e5e5;
}

.contents {
    max-width: 720px;
}

dialog {
    max-width: 75vw;
    border: thin solid gray;
    border-radius: 4px;
}

.character {
    width: 16.67%;
}

.date-table-container {
    max-height: 5rem;
    overflow-y: scroll;
    display: block;


    table {
        width: 100%;

        tr {

            th:first-of-type,
            td:first-of-type {
                width: 25%;
            }

            th:nth-of-type(2),
            td:nth-of-type(2) {
                width: 11%;
            }

            th:nth-of-type(3),
            td:nth-of-type(3) {
                width: 30%;
            }

            th:nth-of-type(4),
            td:nth-of-type(4) {
                width: 10%;
            }
        }

        .table-active {
            border: thin solid red;
        }
    }
}

textarea.notes {
    height: 40vh;
}

#admin {
    height: 100vh;
    background-color: black;
}

.npc-text-area {
    height: 6rem;
}