@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.nav-link:hover {
    background-color: #e5e5e5;
}

.contents {
    max-width: 720px;
}

dialog {
    max-width: 75vw;
    border: thin solid gray;
    border-radius: 4px;
}

.character {
    width: 16.67%;
}

.date-table-container {
    max-height: 5rem !important;
    overflow-y: scroll;
    display: block;
    width: 100%;

    tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }
}

textarea.notes {
    height: 40vh;
}